terminal length 0
configure terminal
hostname {{ inventory_hostname }}
aaa new-model
aaa authentication login default local
aaa authorization exec default local
aaa authorization commands 15 default local
ip ssh version 2
line vty 0 4
transport input ssh telnet
username {{ gns3_lab_user }} privilege 15 password 0 {{ gns3_lab_pass }}
{% if mgmt_interface is defined %}
interface {{ mgmt_interface }}
{% if mgmt_ip is defined %}
ip address {{ mgmt_ip | ipaddr('address') }} {{ mgmt_ip | ipaddr('netmask') }}
{% endif %}
no shutdown
{% endif %}

{% if data_int0 is defined %}
interface {{ data_int0 }}
{% if data_ip0 is defined %}
ip address {{ data_ip0 | ipaddr('address') }} {{ data_ip0 | ipaddr('netmask') }}
{% endif %}
no shutdown
ip ospf 1 area 0
{% endif %}

{% if data_int1 is defined %}
interface {{ data_int1 }}
{% if data_ip1 is defined %}
ip address {{ data_ip1 | ipaddr('address') }} {{ data_ip1 | ipaddr('netmask') }}
{% endif %}
no shutdown
ip ospf 1 area 0
{% endif %}

{% if data_lo0 is defined %}
interface {{ data_lo0 }}
{% if data_lo0_ip is defined %}
ip address {{ data_lo0_ip | ipaddr('address') }} {{ data_lo0_ip | ipaddr('netmask') }}
ip ospf 1 area 0
router ospf 1
router-id {{ data_lo0_ip | ipaddr('address') }}
{% endif %}
{% endif %}
crypto key generate rsa label LAB modulus 1024
exit
exit
